<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card border-danger rounded-pill" style="margin:1%;">
				<div class="card-body">
					<%= link_to order_path(@order),:style=>"color: #404040;text-decoration: none;" do %>
					<h3 class="text-center" style="margin: 0;">依頼：<%= @order.order_title %></h3>
					<% end %>
				</div>
		    </div>
		</div>
		<div class="col-12">
			<div class="card" style="margin:1% auto;">
				<div class="card-header" style="background-color: #87ceeb">
					<%= link_to user_path(@idea.user),:style=>"color: #404040;text-decoration: none;" do %>
					<%= attachment_image_tag @idea.user, :user_image, :fill,40,40, fallback:"user_no_image.jpeg",style:"border-radius: 50%;",size: "40x40" %>
					<%= @idea.user.name %>
					<% end %>
				</div>
				<div class="card-body">
					<h3 class="card-title text-center"><%= @idea.idea_title %></h3>
					<div class="card-text text-center" style="margin-bottom:2%;"><%= @idea.idea_text %></div>
				</div>
				<div class="card-footer" >
					<div class="row">
						<div class="text-right font-italic text-muted small offset-1" style="text-align: center;" >投稿日<%= @idea.created_at.strftime('%Y年%m月%d日') %>
						</div>
						<div class="offset-8">
							<% if @idea.favorited_by?(current_user) %>
							  <div class="">
							    <%= link_to order_idea_favorite_path(@order,@idea),method: :delete do %>
							      <i class="fa fa-thumbs-up fa-2x " aria-hidden="true" style="color: #ff3838;"></i>
							    <% end %>
							    <label><%= @idea.favorites.count %></label>
							  </div>
							<% else %>
							  <div>
							    <%= link_to order_idea_favorites_path(@order,@idea),:style=>"color:#777;text-decoration: none;", method: :post do %>
							      <i class="fa fa-thumbs-up fa-2x " aria-hidden="true"></i>
							    <% end %>
							    <label class="font-weight-bold"><%= @idea.favorites.count %><label>
							  </div>
							<% end %>
						</div>
					</div>
				</div>
				<% if @idea.user_id == current_user.id %>
				<div class="card-footer">
					<button type="button" class="col-3 offset-2 btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#myModal">編集</button>
						<div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">ユーザー情報編集</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
				        			<%= form_for @idea ,url:order_idea_path(@order,@idea) do |f| %>
				        		<div class="form-group">
				        			<label>タイトル</label>
									<%= f.text_area :idea_title, class: "col" %>
								</div>
								<div class="form-group">
									<label>内容</label>
									<%= f.text_area :idea_text,class: "col" %>
								</div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
						        <%= f.submit "編集",class: "btn btn-primary" %>
						        <% end %>
						      </div>
						    </div>
						  </div>
						</div>
					<%= link_to order_idea_path(@order,@idea),method: :delete,  class: "btn btn-danger col-3 offset-2", "data-confirm" => "本当に消しますか？" do %>
						削除
					<% end %>
				</div>
				<% end %>
				<div class="card-fotter container"  style="margin:2%;">
					<div class="row">
						<div class="col-1">
							<%= attachment_image_tag @user, :user_image, :fill,40,40, fallback:"user_no_image.jpeg",style:"border-radius: 50%;" %>
						</div>
						<div class="formgroup col-10">
							<%= form_for @comment,url:order_idea_comments_path(@order,@idea) do |f| %>
							<%= f.text_area :comment_text, class: "form-control-lg",style:"width:100%;" ,placeholder:"コメント...",id:"comment" %>
						</div>

					</div>
						<%= @idea.comments.count %>件のコメント
						<%= f.submit "コメント",class: "btn  btn-outline-dark offset-9" %>
						<% end %>
				</div>
				<div class="card-fotter container">
					<div class="">
						<% @comments.each do |comment| %>
						<div class="col" style="margin-bottom: 1%; ">
							<div >
								<%= attachment_image_tag comment.user, :user_image, :fill,40,40, fallback:"user_no_image.jpeg",style:"border-radius: 50%;" %>
								<%= comment.user.name %>
							</div>
							<div class="offset-1">
								<% if current_user.id == comment.user_id %>
									<%= link_to order_idea_comment_path(@order,@idea,comment),method: :delete,  class: "btn btn-outline-danger btn-sm", "data-confirm" => "本当に消しますか？" do %>コメントの削除<% end %>
								<% end %><br>
								<%= comment.comment_text %>
							</div>
						</div>
						<% end %>
					</div>
				</div>
		    </div>
		</div>
	</div>
</div>