
<div class="container">

	<!--タブ-->
	<ul id="myTab" class="nav nav-tabs" role="tablist">
	  <li class="nav-item">
	    <a href="#home" id="home-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true">依頼</a>
	  </li>
	  <li class="nav-item">
	    <a href="#contact" id="contact-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="contact" aria-selected="false">アイデア一覧</a>
	  </li>
	</ul>
	<!--パネル-->
	<div id="myTabContent" class="tab-content mt-3">
		  <div id="home" class="tab-pane active" role="tabpanel" aria-labelledby="home-tab">
			<div class="container">
	  		<div class="row">
					<%= attachment_image_tag @order, :order_image, :fill,200,200, fallback:"no_image.jpeg", size:'200x200' %>
					<%= @order.order_title %>
					<%= @order.order_text %>
					<%= @order.deadline %>
					<%= attachment_image_tag @order, :reward_image, size:'200x200' %>
					<%= @order.reward_content %>
			</div>
			</div>
		  </div>
		  <div id="contact" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
			<% @ideas.each do |idea| %>
			<div class="col-xl-12 ">
				<div class="card" style="margin:1% auto;">
					<%= idea.id %>

					<div class="card-body">
						<div class="mx-auto">
						<%= attachment_image_tag @user, :user_image, :fill,20,20, fallback:"user_no_image.jpeg", size:'100x100',style:"border-radius: 50%;" %>
						<%= idea.user.name %>
						</div>
						<div class="card-title"><%= idea.idea_title %></div>
						<div class="card-text" style="margin-bottom:2%;"><%= idea.idea_text %></div>
						<div>投稿日<%= idea.created_at.strftime('%Y年%m月%d日') %></div>
					</div>
			    </div>
			</div>
			<% end %>
		  </div>
	</div>
</div>

