<div class="container-fluid">
  		<div class="row">
		<div class="col-xl-12">
			<div class="card" style="margin:1% auto; border-color:#fd9900;">
				<div class="card-header"  style="background-color: #fed9a0; border-color:#fd9900; color:  #2d566b;text-decoration: none;">
					<%= attachment_image_tag @order.client, :client_image, :fill,40,40, fallback:"/images/user_no_image.jpeg", size:'40x40',style:"border-radius: 50%;" %>
					<%= @order.client.group_name %>

				</div>
				<div class="card-body text-center">
					<h3 class="card-title" style="color:  #2d566b;"><%= simple_format(@order.order_title) %></h3>
					<div class="under-title"></div>
					<div class="card-text" style="margin:2% 0;"><%= simple_format(@order.order_text) %></div>
					<div class="under-title"></div>
					<strong style="margin:2% 0;">募集締切<%= @order.deadline.strftime('%Y年%m月%d日') %></strong>
					<div class="under-title"></div>
				</div>
				<div class="container">
				<div class="card-body row">
					<div class="col-6 text-center">
						<%= attachment_image_tag @order, :order_image, :fill,200,200, fallback:"/images/no_image.jpeg", size:'200x200' %>
					</div>
					<div class="col-6 text-center" style="border-left: solid 2px #dcdcdc">
						<strong class="under-title">お礼の品</strong>
						<div class="">
							<%= simple_format(@order.reward_content) %>
						</div>
					</div>
				</div>
				</div>
				<% if @order.client_id == current_client.id %>
				<div class="card-footer container">
					<div class="row">
					<!--依頼編集モーダルボタン-->
					<button type="button" class="btn btn-outline-primary col-2 offset-2" data-toggle="modal" data-target="#myModal">編集</button>
					<%= link_to clients_order_path(@order),method: :delete,  class: "btn btn-outline-danger col-2 offset-4", "data-confirm" => "本当に消しますか？" do %>
						削除
					<% end %>
					</div>
				</div>
				<% end %>
		    </div>
		</div>
		</div>

		<!--依頼編集モーダル-->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">依頼編集</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body form">
	        			<%= form_for @order, url:clients_order_path(@order) do |f| %>
	        		<div class="form-group">
	        			<label >イメージ</label>
						<%= f.attachment_field :order_image,class: "col" %>
					</div>
					<div class="form-group">
						<label>タイトル</label>
						<%= f.text_field :order_title,  class: "col" %>
					</div>
					<div class="form-group">
						<label>内容</label>
						<%= f.text_area :order_text, class: "col" %>
					</div>
					<div class="form-group">
						<label>締め切り日</label>
						<%= f.date_select :deadline  %>
					</div>
					<div class="form-group">
						<label>お礼</label>
						<%= f.text_area :reward_content, class: "col" %>
					</div>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
			        <%= f.submit "編集",class: "btn btn-primary" %>
			        <% end %>
			      </div>
			    </div>
			  </div>
			</div>
	<% if @order.deadline < Date.today %>
		<h2 class="text-center" style="color: #2d566b;">募集締切です!<br>
			<% if @order.client_id == current_client.id %>
				MVPを選択した場合は,<br>各アイデアの詳細ページからメッセージを投稿してください
			<% end %>
		</h2>
	<% end %>

	<!--タブ-->
	<ul id="myTab" class="nav nav-tabs" role="tablist">
	  <li class="nav-item">
	    <a href="#home" id="home-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true"style="color:#2d566b;">アイデア一覧</a>
	  </li>
	  <li class="nav-item">
	    <a href="#contact" id="contact-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="contact" aria-selected="false"style="color:#2d566b;" >MVP</a>
	  </li>
	</ul>
	<!--パネル-->
	<div id="myTabContent" class="tab-content mt-3">
		  <div id="home" class="tab-pane active" role="tabpanel" aria-labelledby="home-tab">
			<div class="container">

			<div class="row">
				<% @ideas.each do |idea| %>
				<div class="col-12">
					<div class="card" style="margin:1% auto; border-color: #30c5bb;">

						<div class="card-header"  style="background-color: #aeefdd; border-color: #30c5bb;">
							<div class="row">
							<div class="col-11" style="color:#2d566b;">

							<%= attachment_image_tag idea.user, :user_image, :fill,40,40, fallback:"/images/user_no_image.jpeg", size:'40x40',style:"border-radius: 50%;" %>
							<%= idea.user.name %>
							</div>
						<div id="award_buttons_<%= idea.id %>">
							<%= render partial: "clients/awards/award_order", locals: {idea: idea} %>
						</div>
						</div>
						</div>
						<div class="card-body">
							<h3 class="card-title text-center" style="color:#2d566b;">
								<%= link_to clients_order_idea_path(@order,idea.id),:style=>"color: #2d566b;text-decoration: none;" do %>
									<%= simple_format(idea.idea_title) %>
								<% end %>
							</h3>
							<div class="under-title2"></div>
							<div class="card-text text-center" style="margin:2%;"><%= simple_format(idea.idea_text) %></div>
							<div class="text-right font-italic text-muted small" >投稿日<%= idea.created_at.strftime('%Y年%m月%d日') %></div>
						</div>
						<div class="card-footer text-muted small text-right">
							<span><%= idea.comments.count %>コメント</span>
							<span><%= idea.favorites.count %>いいね</span>
						</div>
				    </div>
				</div>
				<% end %>
			</div>
			</div>
		  </div>
		  <div id="contact" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
		  	<% if @awards.blank? %>
		  	<div style="height:50px;">
		  	<h1 class="text-center" style="color:#2d566b; height:50px;">MVPは選択されていません</h1>
		  	</div>
		  	<% else %>
		  	<div id="snow">
			  	<% @awards.each do |award| %>
			  	<div class="col-12" style="margin:1% 0;">
					<div class="card" style="margin:1% auto;border-color: #30c5bb;" >
						<div class="card-header clearfix" style="background-color: #aeefdd; border-color: #30c5bb; color:#2d566b;" >
							<%= attachment_image_tag award.idea.user, :user_image, :fill,40,40, fallback:"/images/user_no_image.jpeg",style:"border-radius: 50%;",size: "40x40" %>
							<%= award.idea.user.name %>
							<span class="float-right" style=" color:#ffe000; "><i class="fas fa-award fa-3x"></i></span>
						</div>
						<div class="card-body">
							<h3 class="card-title text-center" style="color:  #2d566b ;">
							<%= award.idea.idea_title %>
							</h3>
							<div class="under-title2"></div>
							<div class="card-text text-center" style="margin:2%;"><%= simple_format(award.idea.idea_text) %></div>
							<div class="text-right font-italic text-muted small" >
								<label>投稿日</label>
								<%= award.idea.created_at.strftime('%Y年%m月%d日') %>
							</div>
						</div>
						<div class="card-footer text-muted small text-right">
							<span><%= award.idea.comments.count %>コメント</span>
							<span><%= award.idea.favorites.count %>いいね</span>
						</div>
					</div>
		  		</div>
			  	<% end %>
		  	<% end %>
		 	</div>
		  </div>
	</div>
</div>
    <script>
      $(function(){
          $("#snow").snowfall();
      })
    </script>

