<div class="row">
	<% @orders.each do |order| %>
	<div class="col-12 col-xl-3" style="margin:1% 0;">
		<div class="card" >
			<div class="card-header" style="background-color: #eaf4ff">
				<%= link_to clients_client_order_path(@client.id,order.id) do %>
				<%= order.order_title %>
				<% end %>
			</div>
			<div class="card-body">
				<div class="d-inline-block text-truncate" style="max-width: 150px;"><%= order.order_text %></div>
			</div>
			<div class="card-body">
				<%= order.deadline.strftime('%Y年%m月%d日') %>
			</div>
			<div class="card-footer text-muted small" style="background-color: #eaf4ff">
				<div class="row">
					<div class="col-5 offset-7">
						<%= link_to clients_client_order_path(@client.id,order.id),method: :delete, "data-confirm" => "本当に消しますか？" do %>
						<div class="btn-sm btn-danger text-center">削除</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>
<!--
<div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>イメージ</th>
				<th>タイトル</th>
				<th>内容</th>
				<th>締切日</th>
				<th>報酬画像</th>
				<th>報酬内容</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><%= order.id %></td>
				<td><%= link_to clients_client_order_path(@client.id,order.id) do %>
					　<%= attachment_image_tag order, :order_image, :fill,40,40, fallback:"no_image.jpeg", size:'40x40' %>
					<% end %>
				</td>
				<td><%= order.order_title %></td>
				<td class="d-inline-block text-truncate" style="max-width: 150px;"><%= order.order_text %></td>
				<td><%= order.deadline %></td>
				<td><%= attachment_image_tag order, :reward_image, :fill,40,40  %></td>
				<td class="d-inline-block text-truncate" style="max-width: 150px;"><%= order.reward_content %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
-->