<div class="container">
	<h1>ユーザー側Clients#show</h1>
<p>Find me in app/views/clients/show.html.erb</p>
<div class="col-xs-5 col-xs-offset-4">
<!-- タブ部分 -->
<ul id="myTab" class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a href="#home" id="home-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true">プロフィール</a>
  </li>
  <li class="nav-item">
    <a href="#contact" id="contact-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="contact" aria-selected="false">依頼一覧</a>
  </li>
</ul>

<!-- パネル部分 -->
<div id="myTabContent" class="tab-content mt-3">
  <div id="home" class="tab-pane active" role="tabpanel" aria-labelledby="home-tab">
  		<div>
	 	<h3>client info</h3>
		  <%= attachment_image_tag @client,:client_image, :fill,400,400, fallback:"client.jpeg", size:'50x50' %>
		    <%= @client.group_name %>
		    <label>目的</label><br>
		    <%= @client.introduction %>
		    <label>URL</label><br>
		    <%= @client.client_url %>
	 	</div>
  </div>
  <div id="contact" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
  		<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>イメージ</th>
				<th>タイトル</th>
				<th>内容</th>
				<th>締切日</th>
				<th>報酬画像</th>
				<th>報酬内容</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><%= order.id %></td>
				<td><%= link_to order_path(order.id) do %>
					　<%= attachment_image_tag order, :order_image, :fill,40,40, fallback:"no_image.jpeg", size:'40x40' %>
					<% end %>
				</td>
				<td><%= order.order_title %></td>
				<td><%= order.order_text %></td>
				<td><%= order.deadline %></td>
				<td><%= attachment_image_tag order, :reward_image, :fill,40,40  %></td>
				<td><%= order.reward_content %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
  </div>
</div>
</div>
</div>
