<div class="container">
			<div class="card" style="margin:1% auto;">
				<div class="card-header clearfix">
					<%= attachment_image_tag @idea.user, :user_image, :fill,40,40, fallback:"/images/user_no_image.jpeg",style:"border-radius: 50%;",size: "40x40" %>
					<%= @idea.user.name %>
				</div>
				<div class="card-body">
					<h3 class="card-title text-center">
						<%= link_to admins_order_path(@order) do %>
						<%= @idea.idea_title %>
						<% end %>
					</h3>
					<div class="under"></div>
					<div class="card-text text-center" style="margin:2%;"><%= @idea.idea_text %></div>
					<div class="text-right font-italic text-muted small " >投稿日<%= @idea.created_at.strftime('%Y年%m月%d日') %>
					</div>
				</div>
				<div class="card-footer text-muted small text-right">
					<span class=""><%= @idea.comments.count %>コメント</span>
					<span class=""><%= @idea.favorites.count %>いいね</span>
				</div>
		  </div>
<h2>コメント</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>内容</th>
      <th>投稿者</th>
    </tr>
  </thead>
  <% @comments.each do |comment| %>
  <tbody>
    <tr>
      <td><%= comment.id %></td>
      <td>
      	<%= comment.comment_text %>
      </td>
      <td><%= comment.user.name %></td>
      <td>
      	<%= link_to admins_order_idea_comment_path(@order,@idea,comment),method: :delete,  class: "btn btn-outline-danger btn-sm", "data-confirm" => "本当に消しますか？" do %>削除<% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>