<div class="container">
<h1><%= @user.name %></h1>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th>性別</th>
      <th>年齢</th>
      <th>所在地</th>
      <th>職業</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.id %></td>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.sex %></td>
      <td><%= @user.age %></td>
      <td><%= @user.location %></td>
      <td><%= @user.job %></td>
    </tr>
  </tbody>
</table>
<div class="container">
<h2>アイデア一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>投稿者</th>
      <th>コメント</th>
      <th>削除</th>
    </tr>
  </thead>
  <% @ideas.each do |idea| %>
  <tbody>
    <tr>
      <td><%= idea.id %></td>
      <td>
        <%= link_to admins_order_idea_path(idea.order,idea) do %>
        <%= idea.idea_title %>
        <% end %>
      </td>
      <td><%= idea.idea_text %></td>
      <td><%= idea.user.name %></td>
      <td>コメント<%= idea.comments.count %>件</td>
      <td><%= link_to admins_order_idea_path(idea.order,idea),method: :delete,  class: "btn btn-outline-danger", "data-confirm" => "本当に消しますか？" do %>削除<% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
</div>