<div>
	<%= form_for @order, url:clients_client_orders_path(:client_id => @client.id ) do |f| %>
	<div class="form-group">
	 <label>依頼タイトル</label>
	 <%= f.text_field :order_title %>
	</div>
	<div class="form-group">
	 <label>内容</label>
	 <%= f.text_area :order_text %>
	</div>
	<div class="form-group">
	 <label>イメージ</label>
	 <%= f.attachment_field :order_image, fallback:"no_image.jpeg" %>
	</div>
	<div class="form-group">
		 <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
		 	<label>締切日</label>
		 	<div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
			 <%= f.text_field :deadline, class: 'datetimepicker-input' , id: "deadline", data: {toggle: "datetimepicker", target: "#deadline"}%>
			 <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			</div>
		</div>
	</div>
	<div class="form-group">
	 <label>報酬イメージ</label>
	 <%= f.attachment_field :reward_image , fallback:"reward.jpeg" %>
	</div>
	<div class="form-group">
	 <label>報酬内容</label>
	 <%= f.text_area :reward_content %>
	</div>
	<%= f.submit "投稿",class: "btn btn-primary" %>
	<% end %>
</div>