<div class="container">
	<div class="row" style="margin-bottom:2%;">
		<div class="col-2">
			<%= attachment_image_tag @client, :client_image, :fill,100,100, fallback:"client_no_image_big.jpeg", size:'100x100',style:"border-radius: 50%;" %>
		</div>
		<div class="col-8">
			<strong class="strong"><%= @client.group_name %></strong>
			<p><%= @client.introduction %></p>
			<a href='<%= @client.client_url %>' target="_blank"  class="text-info"><%= @client.client_url %></a>
		</div>
		<div class="col">
			<% if @client == current_client %>
			<button type="button" class="btn btn-outline-info" data-backdrop="static"  data-toggle="modal" data-target="#myModal">
				<i class="fas fa-cogs"></i>
			</button>
			<% end %>
		</div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title text-info" id="exampleModalLabel">ユーザー情報編集</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
						 <%= form_for @client, url:clients_client_path(:client_id => @client.id ) do |f| %>
						  <label class="text-info">画像</label>
						  <%= f.attachment_field :client_image %>
						  <div class="form-group">
						    <label class="text-info">団体名</label>
						    <%= f.text_field :group_name, class: "col border border-info" %>
						  </div>
						  <div class="form-group">
						    <label class="text-info">担当者姓</label>
						    <%= f.text_field :last_name, class: "col border border-info" %>
						  </div>
						  <div class="form-group">
						    <label class="text-info">担当者名</label>
						    <%= f.text_field :first_name, class: "col border border-info" %>
						  </div>
						  <div class="form-group">
						    <label class="text-info">電話番号</label>
						    <%= f.text_field :phone_number, class: "col border border-info" %>
						  </div>
						  <div class="form-group">
						    <label class="text-info">メールアドレス</label>
						    <%= f.text_field :email, class: "col border border-info" %>
						  </div>
						  <div class="form-group">
						    <label class="text-info">団体URL</label>
						    <%= f.text_field :client_url, class: "col border border-info" %>
						  </div>
						  <div class="form-group">
						    <label class="text-info">紹介文</label>
						    <%= f.text_area :introduction, class: "col border border-info" %>
						  </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
			        <%= f.submit "編集",class: "btn btn-info" %>
			        <% end %>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<div>
			<!-- タブ部分 -->
			<ul id="myTab" class="nav nav-tabs" role="tablist">
			  <li class="nav-item">
			    <a href="#home" id="home-tab" class="nav-link active text-info" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true">投稿一覧</a>
			  </li>
			  <% if @client == current_client %>
			  <li class="nav-item">
			    <a href="#profile" id="profile-tab" class="nav-link text-info" role="tab" data-toggle="tab" aria-controls="profile" aria-selected="false">依頼投稿</a>
			  </li>
			  <% end %>
			  <li class="nav-item">
			    <a href="#contact" id="contact-tab" class="nav-link text-info" role="tab" data-toggle="tab" aria-controls="contact" aria-selected="false">おおお</a>
			  </li>
			</ul>

			<!-- パネル部分 -->
			<div id="myTabContent" class="tab-content mt-3">
			  <div id="home" class="tab-pane active" role="tabpanel" aria-labelledby="home-tab">
			  	<%= render 'clients/orders/order'%>
			  </div>
			  <div id="profile" class="tab-pane" role="tabpanel" aria-labelledby="profile-tab">
			  	<%= render 'orders/new' %>
			  </div>
			  <div id="contact" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
			  </div>
			</div>
		</div>
</div>
