<div class="container-fluid">
	<div class="row space" style="margin-bottom:5%;">
		<div class="col-2">
			<%= attachment_image_tag @user, :user_image, :size => "100x100", fallback:"/images/user_no_image_big.jpeg",style:"border-radius: 50%;"   %>
		</div>
		<div class="col row">
			<div class= "font-weight-bold col-9" style="margin-left:2%;"><%= @user.name %></div>
			<div class="col-12"  style="margin-left:2%;"><%= @user.sex %> / <%= @user.age %> / <%= @user.location %> / <%= @user.job %></div>
		</div>
	</div>
		<!-- タブ部分 -->
	<div class="">
		<ul id="myTab" class="nav nav-tabs" role="tablist">
		  <li class="nav-item">
		    <a href="#home" id="home-tab" class="nav-link active t" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true">投稿</a>
		  </li>
		  <li class="nav-item">
		    <a href="#profile" id="profile-tab" class="nav-link t" role="tab" data-toggle="tab" aria-controls="profile" aria-selected="false">いいね</a>
		  </li>
		  <li class="nav-item">
		    <a href="#contact" id="contact-tab" class="nav-link t" role="tab" data-toggle="tab" aria-controls="contact" aria-selected="false">MVP</a>
		  </li>
		</ul>

		<!-- パネル部分 -->
		<div id="myTabContent" class="tab-content mt-3">
		  <div id="home" class="tab-pane active" role="tabpanel" aria-labelledby="home-tab">
			<div class="row ">
				<div class="col-12 text-center text-muted small"><p><%= @ideas.count %>投稿</p></div>
				<% @ideas.each do |idea| %>
				<div class="col-12 col-lg-4" style="margin:1% 0;">
					<div class="card u1">
						<div class="card-header u1 u2" >
							<div class="t">
							<%= attachment_image_tag idea.user, :user_image, :fill,40,40, fallback:"/images/user_no_image.jpeg",style:"border-radius: 50%;",size: "40x40" %>
							<%= idea.user.name %>
							</div>
						</div>
						<div class="card-body">
							<h3 class="card-title text-center">
								<%= link_to clients_order_idea_path(idea.order_id,idea),:style=>"color:  #2d566b ; text-decoration: none;" do %>
								<%= idea.idea_title %>
								<% end %>
							<div class="under-title2"></div>
							</h3>
							<div class="card-text text-center" style="margin:2%;"><%= simple_format(idea.idea_text) %></div>
							<div class="text-right font-italic text-muted small ">
								<label>投稿日</label>
								<%= idea.created_at.strftime('%Y年%m月%d日') %>
							</div>
						</div>
						<div class="card-footer text-muted small text-right">
							<span class=""><%= idea.comments.count %>コメント</span>
							<span class=""><%= idea.favorites.count %>いいね</span>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		  </div>
		  <div id="profile" class="tab-pane" role="tabpanel" aria-labelledby="profile-tab">
		  	<div class="row">
		  		<div class="col-12 text-center text-muted small"><p><%= @favorites.count %>いいね</p></div>
		  		<% @favorites.each do |fav| %>
		  		<div class="col-12" style="margin:1% 0;">
					<div class="card u1" >
						<div class="card-header u1 u2 t">
							<%= attachment_image_tag fav.idea.user, :user_image, :fill,40,40, fallback:"/images/user_no_image.jpeg",style:"border-radius: 50%;",size: "40x40" %>
							<%= fav.idea.user.name %>
						</div>
						<div class="card-body">
							<h3 class="card-title text-center">
							<%= link_to clients_order_idea_path(fav.idea.order_id,fav.idea),:style=>"color:  #2d566b ; text-decoration: none;" do %><%= fav.idea.idea_title %><% end %>
							</h3>
							<div class="under-title2"></div>
							<div class="card-text text-center" style="margin:2%;"><%= simple_format(fav.idea.idea_text) %></div>
							<div class="text-right font-italic text-muted small" >
								<label>投稿日</label>
								<%= fav.idea.created_at.strftime('%Y年%m月%d日') %>
							</div>
						</div>
						<div class="card-footer text-muted small text-right">
							<span><%= fav.idea.comments.count %>コメント</span>
							<span><%= fav.idea.favorites.count %>いいね</span>
						</div>
					</div>
		  		</div>
		  		<% end %>
		  	</div>
		  </div>
		  <div id="contact" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
		  	<div class="row">
		  		<div class="col-12 text-center text-muted small"><p><%= @awards.count %>MVP</p></div>
		  		<% @awards.each do |award| %>
		  		<div class="col-12" style="margin:1% 0;">
		  			<div class="card  rounded-pill" style="margin-bottom:1%; background-color: #fed9a0; border-color:#fd9900;">
					<%= link_to clients_order_path(award.idea.order_id),:style=>"color:  #2d566b ;text-decoration:none;" do %>
					<h4 class="text-center" style="margin: 0;"><%= award.idea.order.order_title %></h4>
					<% end %>
		  			</div>

					<div class="card u1" >
						<div class="card-header clearfix u1 u2">
							<%= attachment_image_tag award.idea.user, :user_image, :fill,40,40, fallback:"/images/user_no_image.jpeg",style:"border-radius: 50%;",size: "40x40" %>
							<%= award.idea.user.name %>
							<span class="float-right g"><i class="fas fa-award fa-3x"></i></span>
						</div>
						<div class="card-body">
							<h3 class="card-title text-center">
							<%= link_to clients_order_idea_path(award.idea.order_id,award.idea),:style=>"color:  #2d566b ; text-decoration: none;" do %><%= award.idea.idea_title %><% end %>
							</h3>
							<div class="under-title2"></div>
							<div class="card-text text-center" style="margin:2%;"><%= simple_format(award.idea.idea_text) %></div>
							<div class="text-right font-italic text-muted small" >
								<label>投稿日</label>
								<%= award.idea.created_at.strftime('%Y年%m月%d日') %>
							</div>
						</div>
						<div class="card-footer text-muted small">
							<span><%= award.idea.comments.count %>コメント</span>
							<span><%= award.idea.favorites.count %>いいね</span>
						</div>
					</div>
		  		</div>
		  		<div class="under" style="margin:5% auto;"></div>
		  		<% end %>
		  	</div>
		  </div>
		</div>
	</div>
</div>