<div class="container">
<div class="row">
<div class="col-12">
	<%= render "clients/presents/new" %>
	<div class="card  rounded-pill" style="margin-bottom:3%; background-color: #fed9a0; border-color:#fd9900;">
		<div class="card-body">
			<%= link_to clients_order_path(@order),:style=>"background-color: #fed9a0; border-color:#fd9900; color:  #2d566b;" do %>
			<h3 class="text-center" style="margin: 0;"><%= @order.order_title %></h3>
			<% end %>
		</div>
    </div>
</div>
<div class="col-12">
	<div class="card" style="margin:1% auto; border-color: #30c5bb;">
		<div class="card-header clearfix" style="background-color: #aeefdd; border-color: #30c5bb;" >
			<%= link_to user_path(@idea.user),:style=> "text-decoration: none; color:#2d566b;" do %>
			<%= attachment_image_tag @idea.user, :user_image, :fill,40,40, fallback:"user_no_image.jpeg",style:"border-radius: 50%;",size: "40x40" %>
			<%= @idea.user.name %>
			<% end %>
			<div class="float-right"id="award_buttons_<%= @idea.id %>">
				<%= render partial: "clients/awards/award", locals: {idea: @idea} %>
			</div>
		</div>
		<div class="card-body">
			<h3 class="card-title text-center" style="color:#2d566b;"><%= @idea.idea_title %></h3>
			<div class="under-title2"></div>
			<div class="card-text text-center" style="margin:2%;"><%= @idea.idea_text %></div>
		</div>
		<div class="card-footer" style="background-color: white;">
				<div class="text-right font-italic text-muted small offset-8" style="text-align: center;" >投稿日<%= @idea.created_at.strftime('%Y年%m月%d日') %>
				</div>
		</div>
		<div class="card-footer container" style="padding-top: 1%; background-color: white;">
			<div class="">
				<p style="color:#2d566b;"><%= @idea.comments.count %>件のコメント</p>
				<% @comments.each do |comment| %>
				<div class="col" style="margin-bottom: 2%; ">
					<div >
						<%= attachment_image_tag comment.user, :user_image, :fill,40,40, fallback:"user_no_image.jpeg",style:"border-radius: 50%;" %>
						<%= comment.user.name %>
					</div>
					<div class="offset-1">
						<%= comment.comment_text %>
					</div>
				</div>
				<div class></div>
				<% end %>
			</div>
		</div>
	</div>

</div>
</div>
</div>