<!DOCTYPE html>
<html>
  <head>
    <title>Ideadvoice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header-image">
    <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h1 class="navbar-brand t">Adovoice</h1>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <%= link_to root_path,class: "nav-item nav-link active", :style=>"color:#2d566b;" do %>
        <i class="fas fa-home">ホーム</i><% end %>
        <%= link_to orders_path,class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fas fa-rocket">依頼一覧</i><% end %>
        <%= link_to user_path(current_user),class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fa fa-user"><%= current_user.name %></i><% end %>
        <%= link_to destroy_user_session_path, method: :delete,class: "nav-item nav-link" , :style=>"color:#2d566b;" do %>
        <i class="fas fa-running">ログアウト</i><% end %>
        </div>
      </div>
    </nav>
    <% elsif client_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h1 class="navbar-brand t">Adovoice</h1>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <%= link_to root_path,class: "nav-item nav-link active", :style=>"color:#2d566b;" do %>
        <i class="fas fa-home">ホーム</i><% end %>
        <%= link_to clients_client_path(current_client), class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fa fa-user"><%= current_client.group_name %></i><% end %>
        <%= link_to destroy_client_session_path,  method: :delete,class: "nav-item nav-link" , :style=>"color:#2d566b;" do %>
        <i class="fas fa-running">ログアウト</i><% end %>
        </div>
      </div>
    </nav>
    <% elsif admin_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h1 class="navbar-brand t">Adovoice</h1>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <%= link_to admins_path,class: "nav-item nav-link active", :style=>"color:#2d566b;" do %>
        <i class="fas fa-home">管理者昨日一覧</i><% end %>
        <%= link_to admins_clients_path,class: "nav-item nav-link active", :style=>"color:#2d566b;" do %>
        <i class="fas fa-home">依頼者一覧</i><% end %>
        <%= link_to admins_users_path,class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fas fa-home">ユーザー一覧</i><% end %>
        <%= link_to admins_orders_path,class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fas fa-home">依頼一覧</i><% end %>
        <%= link_to destroy_admin_session_path, method: :delete,class: "nav-item nav-link" , :style=>"color:#2d566b;" do %>
        <i class="fas fa-running">ログアウト</i><% end %>
        </div>
      </div>
    </nav>
    <% else %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h1 class="navbar-brand t">Adovoice</h1>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <%= link_to root_path,class: "nav-item nav-link active", :style=>"color:#2d566b;" do %>
        <i class="fas fa-home">ホーム</i><% end %>
        <%= link_to orders_path,class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fas fa-rocket">依頼一覧</i><% end %>
        <%= link_to new_user_session_path,class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fa fa-user">ユーザーログイン</i><% end %>
        <%= link_to new_user_registration_path,class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fa fa-user">ユーザー新規登録</i><% end %>
        <%= link_to new_client_session_path,class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fa fa-user">依頼者ログイン</i><% end %>
        <%= link_to new_client_registration_path,class: "nav-item nav-link", :style=>"color:#2d566b;" do %>
        <i class="fa fa-user">依頼者新規登録</i><% end %>
        </div>
      </div>
    </nav>
    <% end %>
    <div class="bottomline"></div>
</header>

  <% if notice %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">close</span>
      </button>
      <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">close</span>
      </button>
      <%= alert %>
    </div>
    <% end %>
    <div class="backimage">
      <div class="box">
        <%= yield %>
      </div>
    </div>
  </body>
</html>